<!DOCTYPE html>
<html>
<head>
  <title>Image cards</title>
  <!-- flex, flex-flow
    In which cases you would not use flex. Flex is not supported with IE 10 or earlier.
    In case you need support for IE 10 or earlier use float
  -->
  <style>
    .cards-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .card {
      flex: 33.33%;
      border-radius: 50%;
    }

    .card > img {
      border-radius: 50%;
    }

  </style>
</head>
<body>
  <div class="cards-container">
    <div class="card"><img src="./../images/image1.jpeg" /></div>
    <div class="card"><img src="./../images/image1.jpeg" /></div>
    <div class="card"><img src="./../images/image1.jpeg" /></div>
    <div class="card"><img src="./../images/image1.jpeg" /></div>
    <div class="card"><img src="./../images/image1.jpeg" /></div>
    <div class="card"><img src="./../images/image1.jpeg" /></div>
  </div>
</body>
</html>
